{% set price_value = item.fields['preco_atendimento'] ?? 0 %}
{% set desc_value = item.fields['descricao_despesa'] ?? '' %}
{% set moeda_value = item.fields['moeda'] ?? 'BRL' %}
{% set tipo_value = item.fields['tipo_despesa'] ?? '' %}
{% set data_value = item.fields['data_despesa'] ?? now|date('Y-m-d') %}
{% set centro_value = item.fields['centro_custo'] ?? '' %}
{% set rc_value = item.fields['rc'] ?? '' %}
{% set oc_value = item.fields['oc'] ?? '' %}
{% set projeto_value = item.fields['projeto'] ?? '' %}

<div class="form-field row col-12 mb-2">
  <label class="col-form-label col-xxl-4 text-xxl-end" for="preco_custoticket">
    {{ __('Preço do Atendimento:', 'custoticket') }}
  </label>
  <div class="col-xxl-8 field-container">
    <div class="input-group">
      <span class="input-group-text">R$</span>
      <input type="text" class="form-control" name="preco_custoticket" id="preco_custoticket" 
             value="{{ price_value|number_format(2, ',', '.') }}" placeholder="0,00">
    </div>
  </div>
</div>
